
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    font-family: 'Ubuntu', sans-serif;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 99;
}
.logo {
    fonr-size: 6em;
    color: #000000;
    user-select: none;
    margin-right: auto;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    font-weight: 500; 
    margin-left: 30px;

}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #55e34d;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform.5s ;
} 
.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    }
    .navigation .btnabout {
        width: 130px;
        height: 50px; 
        background: transparent;
        border:  2px solid #fff;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1em;
        color:#000000;
        font-weight: 500;
        margin-left: 40px;
        margin-right: 60px;
    }
    .navigation .btnabout:hover{
        background: #fff;
        color: #162938;
    }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bigContainer {
    height: 100vh; 
    min-height: 75px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb29.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

  
  .responsive-container-block.Container {
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.heading {
    font-size: 36px;
    line-height: 45px;
    font-weight: 800;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .text-blk.subHeading {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .socialIcon {
    width: 33px;
    height: 33px;
  }
  
  .social-icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .social-icon {
    margin: 0 50px 0 50px;
  }
  
  .social-icon:hover {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .text-blk.heading {
      font-size: 55px;
      line-height: 65px;
    }
  
    .text-blk.subHeading {
      font-size: 18px;
      line-height: 24px;
    }
  
    .socialIcon {
      width: 20px;
      height: 20px;
    }
  
    .text-blk.subHeading {
      line-height: 27px;
    }
  
    .text-blk.heading {
      font-size: 32px;
      line-height: 40px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .social-icon {
      margin: 0 25px 0 25px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .text-blk.heading {
      font-size: 45px;
      line-height: 55px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .text-blk.subHeading {
      font-size: 14px;
      line-height: 22px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .social-icons-container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .text-blk.subHeading {
      font-size: 16px;
      line-height: 23px;
    }
  
    .text-blk.heading {
      font-size: 26px;
      line-height: 30px;
    }
  
    .social-icon {
      margin: 0 20px 0 20px;
    }
  }

  .container-1 img {
    width:400px;
    height: auto;
    margin-top: 35px;
    margin-left: 80px;
  }

  .text-1 {
    font-size: 30px;
    margin-left: 80px;
    
  }

  .line1 {
    border-top: 1px solid #000;
  }

  .box-cont{
    display: flex;
    height: 950px;
    
  }
  
  
.container-1 {
  flex: 1; /* Membuat container-1 mengambil sebanyak mungkin ruang yang tersedia */
  padding: 20px; /* Menambahkan padding untuk memberikan ruang di sekitar elemen di dalam container-1 */
  border-right: 1px solid #000; /* Garis pemisah antara container-1 dan container-2 */
  flex-direction: column; /* Mengatur tata letak menjadi kolom */
  align-items: center;
}

/* CSS untuk container 2 (dibagian kanan) */
.container-2 {
  flex: 1; /* Membuat container-2 mengambil sebanyak mungkin ruang yang tersedia */
  padding: 20px; /* Menambahkan padding untuk memberikan ruang di sekitar elemen di dalam container-2 */
  width: 100%;
  overflow: hidden;
}

.text-2 {
  font-size: 55px;
  margin-left: 75px;
  margin-top: 15px;
}

.text-3 {
  margin-left: 75px;
  margin-top: -20px;
  font-size: 20px;
}


.text-1,
.text-3 {
    font-family: 'Poppins', sans-serif;
}
.text-2 {
  font-family: 'Mochiy Pop One', sans-serif;
  color: #0C356A;
}

.text-1 {
  color:#0C356A ;
}


/* CSS untuk container login */
.colomn-login {
  display: flex;
  flex-direction: column; /* Mengatur tata letak menjadi kolom */
  width: 810px;
  margin-top: 20px;
  
}

/* Gaya untuk input email */
.email-login-admin {
  margin-bottom: 10px; /* Menambahkan jarak di bawah input email */
  margin-left: 75px;
  height: 50px;
  border-radius: 10px;
  margin-top: 80px; 
  
}

/* Gaya untuk input password */
.pw-login-admin {
  margin-top: 50px; /* Menambahkan jarak di atas input password */
  margin-left: 75px;
  height: 50px;
  border-radius: 10px;

}

.login-button {
  margin-left: 75px;
  height: 60px;
  border-radius: 10px;
  background-color: #0C356A;
  margin-top: 90px;
  font-size: 22px;
  color: #fff;
}

.container-2 {
  background-color: #0C356A;
}



.box-kotak-slize {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-x: hidden; /* Menggunakan hidden agar tidak ada scrollbar horizontal */
    overflow-y: hidden;
    white-space: nowrap;
}

.box-kotak-slize img {
    width: 1000px;
    height: auto; /* Sesuaikan tinggi gambar sesuai kebutuhan */
    display: inline-block;
    margin-right: 20px; /* Jarak antar gambar */
    margin-top: 200px;
}

.container-2 ::-webkit-scrollbar {
  display: none;
}


.op {
  display: flex;
  width: 3100px;
  animation: slide 15s infinite linear; /* Menambahkan animasi keyframes */
}
@keyframes slide {
  0%, 100% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(-50);
  }
  50% {
      transform: translateX(-70%);
  }
}


.box-sidebar {
  display: flex;
  min-height: 100vh;
}

.sidebar{
  background-color: #111827;
  width: 260px;
  padding: 24px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

