
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    font-family: 'Ubuntu', sans-serif;
  }
  
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 50px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 99;
}
.logo {
    fonr-size: 6em;
    color: #000000;
    user-select: none;
    margin-right: auto;
}
.navigation a { 
    position: relative;
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    font-weight: 500; 
    margin-left: 30px;

}



body {
  height: 100%; /* Set tinggi body menjadi 500px */
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #55e34d;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform.5s ;
} 
.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    }
    .navigation .btnabout {
        width: 130px;
        height: 50px; 
        background: transparent;
        border:  2px solid #fff;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1em;
        color:#000000;
        font-weight: 500;
        margin-left: 40px;
        margin-right: 60px;
    }
    .navigation .btnabout:hover{
        background: #fff;
        color: #162938;
    }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bigContainer {
    height: 100vh; 
    min-height: 75px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb29.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

  
  .responsive-container-block.Container {
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.heading {
    font-size: 36px;
    line-height: 45px;
    font-weight: 800;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .text-blk.subHeading {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .socialIcon {
    width: 33px;
    height: 33px;
  }
  
  .social-icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .social-icon {
    margin: 0 50px 0 50px;
  }
  
  .social-icon:hover {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .text-blk.heading {
      font-size: 55px;
      line-height: 65px;
    }
  
    .text-blk.subHeading {
      font-size: 18px;
      line-height: 24px;
    }
  
    .socialIcon {
      width: 20px;
      height: 20px;
    }
  
    .text-blk.subHeading {
      line-height: 27px;
    }
  
    .text-blk.heading {
      font-size: 32px;
      line-height: 40px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .social-icon {
      margin: 0 25px 0 25px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .text-blk.heading {
      font-size: 45px;
      line-height: 55px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .text-blk.subHeading {
      font-size: 14px;
      line-height: 22px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .social-icons-container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .text-blk.subHeading {
      font-size: 16px;
      line-height: 23px;
    }
  
    .text-blk.heading {
      font-size: 26px;
      line-height: 30px;
    }
  
    .social-icon {
      margin: 0 20px 0 20px;
    }
  }

  .container-1 img {
    width:400px;
    height: auto;
    margin-top: 35px;
    margin-left: 80px;
  }

  .text-1 {
    font-size: 30px;
    margin-left: 80px;
    
  }

  .line1 {
    border-top: 1px solid #000;
  }

  .box-cont{
    display: flex;
    height: 950px;
    
  }
  
  
.container-1 {
  flex: 1; /* Membuat container-1 mengambil sebanyak mungkin ruang yang tersedia */
  padding: 20px; /* Menambahkan padding untuk memberikan ruang di sekitar elemen di dalam container-1 */
  border-right: 1px solid #000; /* Garis pemisah antara container-1 dan container-2 */
  flex-direction: column; /* Mengatur tata letak menjadi kolom */
  align-items: center;
}

/* CSS untuk container 2 (dibagian kanan) */
.container-2 {
  flex: 1; /* Membuat container-2 mengambil sebanyak mungkin ruang yang tersedia */
  padding: 20px; /* Menambahkan padding untuk memberikan ruang di sekitar elemen di dalam container-2 */
  width: 100%;
  overflow: hidden;
}

.text-2 {
  font-size: 55px;
  margin-left: 75px;
  margin-top: 15px;
}

.text-3 {
  margin-left: 75px;
  margin-top: -20px;
  font-size: 20px;
}


.text-1,
.text-3 {
    font-family: 'Poppins', sans-serif;
}
.text-2 {
  font-family: 'Mochiy Pop One', sans-serif;
  color: #0C356A;
}

.text-1 {
  color:#0C356A ;
}


/* CSS untuk container login */
.colomn-login {
  display: flex;
  flex-direction: column; /* Mengatur tata letak menjadi kolom */
  width: 810px;
  margin-top: 20px;
  
}

/* Gaya untuk input email */
.email-login-admin {
  margin-bottom: 10px; /* Menambahkan jarak di bawah input email */
  margin-left: 75px;
  height: 50px;
  border-radius: 10px;
  margin-top: 80px; 
  
}

/* Gaya untuk input password */
.pw-login-admin {
  margin-top: 50px; /* Menambahkan jarak di atas input password */
  margin-left: 75px;
  height: 50px;
  border-radius: 10px;

}

.login-button {
  margin-left: 75px;
  height: 60px;
  border-radius: 10px;
  background-color: #0C356A;
  margin-top: 90px;
  font-size: 22px;
  color: #fff;
}

.container-2 {
  background-color: #0C356A;
}



.box-kotak-slize {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-x: hidden; /* Menggunakan hidden agar tidak ada scrollbar horizontal */
    overflow-y: hidden;
    white-space: nowrap;
}

.box-kotak-slize img {
    width: 1000px;
    height: auto; /* Sesuaikan tinggi gambar sesuai kebutuhan */
    display: inline-block;
    margin-right: 20px; /* Jarak antar gambar */
    margin-top: 200px;
}

.container-2 ::-webkit-scrollbar {
  display: none;
}


.op {
  display: flex;
  width: 3100px;
  animation: slide 15s infinite linear; /* Menambahkan animasi keyframes */
}
@keyframes slide {
  0%, 100% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(-50);
  }
  50% {
      transform: translateX(-70%);
  }
}


.box-sidebar {
  display: flex;
  min-height: 100vh;
  
}

.sidebar{
  background-color: #0C356A;
  width: 380px;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.list-item1 {
  margin-top: 50%;
  
}

.list-item1 a {
  text-decoration: none;
  color: #fff;
  display: flex;
  background-color: #286BC2;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}




/* Style untuk gambar gamepad */
.icon-1 {
  width: 60px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
  height: auto;
  margin-right: 25px; /* Sesuaikan margin sesuai kebutuhan */
  margin-left: 30px
}

/* Style untuk judul kepala */
.judul-kepala {
  font-size: 18px; /* Sesuaikan ukuran font sesuai kebutuhan */
  font-weight: bold;
}


.logo-beranda  img {
  width: 100px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
  height: auto;
  margin-top: -10px;
  display: inline-block;
 
}


.logo-beranda{
  text-align: center;
}

.badan-2 {
  
  margin-top: 30px;
}


/* konten dashboard */

.konten-1 {
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  
}
.konten-1 a{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 15px;
  
}

.konten-1 a img {
  width: 32px;
  margin-right: 20px;

}

.konten-1:hover {
  background-color: #FF9900; /* Warna hijau yang diinginkan saat dihover */
}
.jdl-konten-1 {
   /* Sesuaikan margin sesuai kebutuhan */
  font-size: 20px; /* Sesuaikan ukuran font sesuai kebutuhan */
}

/* ================================== */

.konten-2 {
  border-radius: 15px;
  height: 50px;
  margin-bottom: 20px;
}

.konten-2 a{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  
}


.konten-2 :hover {
  background-color: #FF9900;
}


.konten-2 a img {
  width: 30px;
  margin-right: 20px;

}

.jdl-konten-2 {
  /* Sesuaikan margin sesuai kebutuhan */
 font-size: 20px; /* Sesuaikan ukuran font sesuai kebutuhan */
 
}


/* main conten */

.main-content {
  display: flex;
  background-color: #eeee;
  width: 200vh;
  position: relative;
  flex-direction: column;
}



@media (max-width: 768px) {
  /* Aturan responsif untuk ukuran layar yang lebih kecil atau setara dengan 768px */

  .logo {
      font-size: 1.5em; /* Menyesuaikan ukuran font pada layar kecil */
  }

  .navigation a {
      font-size: 0.9em; /* Menyesuaikan ukuran font pada layar kecil */
      margin-left: 5px; /* Menyesuaikan margin antar item navigasi pada layar kecil */
  }

  .responsive-container-block.bigContainer {
      padding: 10px; /* Menyesuaikan padding pada layar kecil */
  }

  /* ... Tambahan aturan responsif lainnya ... */
}

@media (max-width: 500px) {
  /* Aturan responsif untuk ukuran layar yang lebih kecil atau setara dengan 500px */

  .responsive-container-block.bigContainer {
      padding: 5px; /* Menyesuaikan padding pada layar sangat kecil */
  }

  .text-1 {
      font-size: 20px; /* Menyesuaikan ukuran font pada layar sangat kecil */
      margin-bottom: 10px; /* Menambahkan margin bawah */
  }

  /* ... Tambahan aturan responsif lainnya ... */
}


.blank-atas {
  background-color: #fff;
  height: 80px;
  width: 100%;
  position: relative;
  
}


.blank-atas img {
  margin-top: 30px;
  margin-left: 20px ;
}

.title-halaman {
 font-size: 20px;
 color: #000;
 margin-left: 20px;
 margin-top: -5px;
 text-decoration: none;
}

.pler2 {
  text-decoration: none;
}


.search-box {

  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  padding: 8px 14px;
  border-radius: 30px;
  max-width: 300px; 
  margin-left: 150px;
  margin-top:-50px;
  

}

.search-icon{
  font-size: 1.18rem;
  color:#0C356A ;
  margin-right: 5px;

}


.search-input{
  transition: .5s;
  border: none;
  width: 0px;
  overflow:hidden ;
  background: transparent;
  border-color: #ffffff;
  
}

.search-input .input {
  border: none;
  background: transparent;
  outline: none;
  background-color: unset;
  padding: 8px;
  font-weight: bold; 
  color: #0C356A;
  
  
}
.search-input .input::placeholder{
  color: #0C356A;
}




.search-box:hover .search-input{
  width: 200px;
  margin-left: 0px;
}





/* ==================================================== */

.box-drop {
  margin-left: 88%;
  display: flex;
  align-items: center;
  width: 195px;
  position: relative;
  margin-top: -42px;
  
}

.img-drop img {
  margin-top: px;
}

.img-drop {
  margin-right: 10px;
  margin-left: 83%;
  margin-top: -80px;
}
/* Style dropdown button */
.dropbtn {
  color: #000;
  padding: 10px;
  background-color: #fff;
  font-size: 23px;
  border: none;
  cursor: pointer;
  font-weight: bold;  


}

/* Style konten dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  width: 150px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style untuk setiap pilihan dalam dropdown */
.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  
}

/* Style ketika kursor berada di atas pilihan dropdown */
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropbtn:hover {
  color: #55e34d;
}

/* Style gambar di samping teks */
.dropdown-content img {
  margin-right: 10px;
  height: 20px; /* Sesuaikan tinggi gambar */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px; /* Atur jarak antara tabel dan elemen di atasnya */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* CSS untuk pop-up */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 1;
}




.custom-table {
  width: 60%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-left: 20px;
  margin-top: 10px;
}

.custom-table th, .custom-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #000;
  overflow: hidden;
  /* white-space: nowrap;
  text-overflow: ellipsis; */ 
}

.custom-table th {
  background-color: #f2f2f2;
}

.custom-table tbody {
  max-height: 820px; /* Atur tinggi maksimum sesuai kebutuhan Anda */
  overflow-x: auto;
  display: block;
  width: 950px;
}



/* Styling the container */
.container-65 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* Styling the login box */
.box-login-admin {
  width: 300px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: auto; 
  margin-top: 140px;
  
}

/* Styling form elements */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling the submit button */
input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 10px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Styling the login button */
button {
    background-color: #0C356A; /* Warna latar belakang */
    color: white; /* Warna teks */
    padding: 10px 20px; /* Padding di sekitar teks */
    border: none; /* Menghapus border */
    border-radius: 5px; /* Corner radius */
    cursor: pointer; /* Mengubah kursor menjadi pointer saat diarahkan */
}

/* Style untuk box-foto */
.box-foto {
  text-align: center; /* Agar konten berada di tengah */
}

/* Style untuk gambar */
.foto-login {
  width: 70px; /* Sesuaikan dengan ukuran gambar Anda */
  height: auto; /* Sesuaikan dengan ukuran gambar Anda */
  display: block; /* Menghapus efek inline */
  margin: 0 auto; /* Membuat gambar berada di tengah */
}

/* Style untuk teks di bawah gambar */
.title-wawe {
  display: block; /* Membuat teks menjadi block element */
  margin-top: 10px; 
  font-size: 19px;
  font-family: 'Poppins', sans-serif; /* Menggunakan font Poppins atau fallback sans-serif jika Poppins tidak tersedia */
    font-weight: bold; /* Membuat teks menjadi bold */
  
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  margin-bottom: 20px;
  padding: 10px;
}

.btn-check:checked + .btn-outline-light {
  background-color: #286BC2;
  color: #fff;
 
}

.btn-outline-light {
  border-color: #286BC2;
}

.column-font {
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.text-warning {
  color: #ffc107;
}

.even-background {
  background-color: #286BC2; /* Warna latar belakang untuk box data genap */
  margin-left: 30px;
}

.odd-background {
  background-color: #286BC2; /* Warna latar belakang untuk box data ganjil */
  margin-left: 30px;
}


.lp-pw{
  margin-top: 15px;
  text-decoration: none;

}

.lp-pw a {
  text-decoration: none;
}


.lp-pw a:hover {
 color: #55e34d;
}
